.body-view {padding: 0; font-family: 'Hind', sans-serif; font-weight: 400}

/* Configuration to make ui-bootstrap works properly */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* ------------- Index, pagina comun a las secciones ---------- */

.nav-cont {padding: 0}
.btn-per {min-height: 2em; line-height: 2em; width: 5em; border: none; border-radius: 0; background-color: #1E3F66; color: #fff; font-size: 1.5em; font-family: 'Hind', sans-serif;}
.nav-per {background-color: #358; border: none; border-radius: 0; margin-bottom: 0px;}
.nav-per1 {background-color: #ddd; color: #358;}
.logo2 img {height: 50px; diplay: inline-block; margin-left: -100px; margin-top: 0.8em}

.news-background {background: url("../img/noticias-fondo.png") no-repeat center; margin-right: 0}


.iconos {margin-top: 7px}
.iconos a {margin: 0 4px 0 0; border: none}

.icono-radio {width: 40px; height: 40px; display: inline-block; background: url(../img/radioicono.png) top; background-size: cover}
.icono-radio:hover {background-position: bottom }

.icono-tv {width: 40px; height: 40px; display: inline-block; background: url(../img/tvicono.png) top; background-size: cover}
.icono-tv:hover {background-position: bottom}

.icono-diario {width: 40px; height: 40px; display: inline-block; background: url(../img/diarioicono.png) top; background-size: cover}
.icono-diario:hover {background-position: bottom;}

.app-container {padding:0;}

.footer {background: url(../img/footer-fondo.png) center 100%; margin: 0}

/* ------------- Nav Bar --------------- */

.nav-bar-top-container{
	background-color: #E/ECF2; 
	color: #358;
	margin:0; 
}

.nav-bar-bottom-container{
	background-color: #1E3F66; 
	border: none; 
	border-radius: 0; 
	margin-bottom: 0px;
	margin:0; 
}

.nav-bar-title{
	margin-top:30px;
/* 	vertical-align: middle; */
	float: left;
	font-weight: 600;
	font-family: 'Hind', sans-serif;
}

.nav-bar-icon{
	margin-top:30px;
	vertical-align: middle;
	width: auto;
	height: 36px;
	max-height: 36px;
}

.nav-bar-logo {
	margin-top:10px;
/* 	vertical-align: middle; */
	height: 70px;
	display: inline-block;
}

/* ------------- News Thumbails--------------- */
.news-thumbnails-container {
	background: rgba(240, 240, 240, .7);
}

.news-thumbnails-container-title {
	color: #EF9400;
}

.news-thumbnail {
	color: inherit; 
	text-decoration:none;
}
.news-thumbnail:hover {
	color: inherit; 
	text-decoration:none;
}

.news-thumbnail-panel {
	padding: 4px;
	background: #F5F5F5
}

.news-thumbnail-image {
    width: auto;
    height: 200px;
/*     background-image: url("{{news.thumbnailUrl}}"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.news-thumbnail-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.news-thumbnail-date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.news-thumbnail-description {
	line-height:15px; 
	height:150px;
	overflow: hidden;
	
	border: 0;
	background-color: inherit;
	
	padding:0;
	margin:10px 0 0;
	
	font-family: Arial, Helvetica, sans-serif;
}

/* ------------- News Detail--------------- */
.carousel-img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

/* ------------- Streaming--------------- */
.black-background {
	background-image: url("../img/fondo-negro.png");
	background-repeat: repeat-y;
	background-size: cover;
	margin-right: 0;
}

/* ------------- Index - Pagina de portada --------------- */ 


.logomad-col {margin: 3em auto 7em auto; text-align: center;}            /* clases del logo de Mad Multimedios  */
.logo-mad {height: 20em; width: 30em; display: inline-block; background: url(../img/logo-mad.png) center no-repeat; background-size: 100%} 



.fondo {background: url(../img/fondo.svg) center repeat-y; background-size: cover;}

.img-radio {margin-top: -5em; text-align: center; line-height: 8em}
.img-tv {margin-top: -1em; text-align: center; line-height: 8em}
.img-diario {margin-top: -5em; text-align: center; line-height: 8em}

.btn-radio {height: 12em; width: 12em; display: inline-block; background: url(../img/btn-radio.png) top; background-size: cover}
.btn-radio:hover {background-position: bottom}

.btn-tv {height: 12em; width: 12em; display: inline-block; background: url(../img/btn-tv.png) top; background-size: cover}
.btn-tv:hover {background-position: bottom}

.btn-diario {height: 12em; width: 12em; display: inline-block; background: url(../img/btn-diario.png) top; background-size: cover}
.btn-diario:hover {background-position: bottom}









