<style>
#example {
	width:200px;
	height:200px;
	background-color:grey;
	margin:10px;
}
</style>

<div class="row black-background">
	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T9DC7vK9qvY" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<slick infinite=false slides-to-show=3>
			<div ng-repeat="video in videos" id="example">
				<a ng-if="video.snippet.thumbnails.medium.url" href="https://www.youtube.com/watch?v={{video.id.videoId}}">
					<div class="tv-videos-thumbnail" style="background-image:url('{{video.snippet.thumbnails.medium.url}}')">
				</a>
			</div>
		</slick>
	</div>
</div>