
<div class="small-12 large-6  columns">

	<section>			
		<form ng-submit="guardar()"> 
			<p>
			<label>Titulo<br>
				<input ng-model="title" type="text" required>
			</label></p>

			<p>
			<label>Descripcion<br>
				<input ng-model="descripcion" type="text"></input>
			</label></p>

			<p>
			<label>
				<input type="submit" value="Guardar"/>
			</label></p>
			<label>
				<input type="file" value="Guardar"/>
			</label>	
		</form>
		
	</section>

</div>

<div class="small-12 large-6 columns">
	<p>hola</p>
</div>